# Node.js
node_modules/
npm-debug.log

# Docker
.docker/
docker-compose.override.yml

# Logs
*.log

# IDEs and editors
.idea/
.vscode/

# TypeScript
*.tsbuildinfo

# npm package lock
package-lock.json
